@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100|Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  background: #fd4baa;
  background-image: linear-gradient(#fd4baa, #ffc03f);
  background-attachment: fixed;
}

.logo {
  max-width: 100%;
  display: block;
  margin: auto;
}

ul,
h1,
h2 {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 5vw;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 3vw;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

li {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

pre {
  display: block;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.preview {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 10px;
  border-radius: 10px;
  display: block;
  max-width: 200px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.preview:hover {
  background-color: #fff;
}
